/*タブレット用設定*/
@media all and (max-width: 1000px) {

  .visual{
    max-width: 920px;
    width: auto;

  }
  .three{
    max-width: 920px;
    width: auto;
    margin: 0 5% 130px 5%;
  }

._one,._two,._three{
  width: 25%;
  margin-right: 5%;
}

}

/*スマホ用設定*/
@media all and (max-width: 760px){

.visual{
  width: 100%;
}



.three{
  width: 100%;
}

  ._one,._two,._three{
    width: 100%;
    margin: 0;
    display: block;
  }


}
